body {
    width: 1000px;
    margin: auto;
    padding: 15px;
}

#info {
    margin: 25px 32px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;

}

h1 {
    padding: 10px 15px;
}

h4 {
    padding: 10px 15px;
}

h6 {
    padding: 10px 15px;
}